.aboutpage{
	display: flex;
	height: fit-content;
}

#image{
	margin: 20px;
	margin-top: 35px;
	width: 40%;
	height: min-content;
	height: fit-content;
	border: 1px solid wheat;
	border-radius: 7px;
}

.userinfo{
	margin: auto auto;
}

.tableheads{
	color: blue;
	padding: 10px;
	padding-right: 250px;
	font-weight: bold;
	font-size: 2rem;
	font-family: monospace;
}

.tabledata{
	font-weight: 700;
	font-size: 1.2rem;
}

@media  screen  and (max-width :1200px) {
	.tableheads{
		padding-right: 100px;
	}
}

@media screen and (max-width:856px) {
	.aboutpage{
		flex-direction: column;
		align-items: center;
	}
	#image{
		width: 65%;
	}
}

@media  screen and (max-width:600px) {
	.tableheads{
		padding-right: 50px;
		font-size: 1rem;
	}
}